<div class="container">
  <div class="row">
    <h3><span style="text-transform: capitalize">{{action}}</span> Story</h3>
    <form action="/stories/{{action}}/{{_id}}" method="post" onsubmit="addDetail()" encType="application/x-www-form-urlencoded">
      <div class="input-field col s12">
        <input id="title" type="text" name="storyTitle" value="{{storyTitle}}" onchange="trimSpace(this.value, this.id)" class="validate" pattern="[\w|\W]{3,}" title="Title must be atleast 3 character long." required>
        <label for="title">Title</label>
      </div>
      <div class="input-field col s12">
        <select name="status">
          <option value="public">Public</option>
          <option value="private" {{status}}>Private</option>
        </select>
        <label>Status</label>
      </div>
      <div class="col s12">
        <p>
          <label>
            <input type="checkbox" {{allowComment}} name="allowComment"/>
            <span>Allow Comment</span>
          </label>
        </p>
      </div>
      <div class="col s12">
        <h5>Tell Us Your Story:</h5>
      </div>
      <div class="input-field col s12 hide">
        <input id="story-detail" type="text" name="content">
      </div>
      <div class="col s12">
        <textarea id="editor">
          {{{ content }}}
        </textarea>
      </div>
      <div class="col s12" style="margin-top: 1rem">
        <button type="submit" id="submit" class="waves-effect waves-light btn">submit</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/ckeditor.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    let elem = document.querySelectorAll('select');
    let instances = M.FormSelect.init(elem);
  });

  let editor;

  ClassicEditor
      .create( document.querySelector( '#editor' ),{
        cloudServices: {
          uploadUrl: "{{upload_url}}",
          tokenUrl: "{{token_url}}"
        },
        toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'imageUpload', 'insertTable', 'undo', 'redo'],
        image: {
          toolbar: ['imageTextAlternative'],
        },
        heading: {
          options: [
            { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
            { model: 'heading1', view: 'h4', title: 'Heading 1', class: 'ck-heading_heading1' },
            { model: 'heading2', view: 'h5', title: 'Heading 2', class: 'ck-heading_heading2' },
            { model: 'heading3', view: 'h6', title: 'Heading 3', class: 'ck-heading_heading3' }
          ]
        }
      })
      .then( newEditor => {
        editor = newEditor;
      } )
      .catch( error => {
        console.error( error );
      } );

  function addDetail() {
    document.getElementById('story-detail').value = editor.getData();
    let detail = document.getElementById('story-detail').value;
    console.log(detail.length);
  }
</script>