<div class="container">
  <div class="row">
    <h4>Welcome {{user.name}}</h4>
    <h5>Your Stories</h5>
    {{#if stories}}
      <div class="col s12">
        <table class="striped responsive-table">
          <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          {{#each stories}}
            <tr>
              <td class="truncate">
                <a href="/stories/read/{{this._id}}">{{this.storyTitle}}</a>
              </td>
              <td>{{this.createdAt}}</td>
              <td>{{status}}</td>
              <td>
                <a href="/stories/edit/{{this._id}}">
                  <i class="small material-icons grey-text edit-icon tooltipped" data-position="top"  data-tooltip="Edit">create</i>
                </a>
                <a id="{{this._id}}" onclick="deleteIdea(this)">
                  <i class="small material-icons red-text edit-icon tooltipped" data-position="top"  data-tooltip="Delete">delete</i>
                </a>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    {{else}}
      <div class="col s12 m6 l4">
        <h6>No Stories.</h6>
      </div>
    {{/if}}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let elem = document.querySelectorAll('.tooltipped');
    let instances = M.Tooltip.init(elem);
  });

  function deleteIdea(elm) {
    fetch("https://storybook101.herokuapp.com/stories/delete/" + elm.id, {
      method: 'delete'
    })
    .then(response => response.json())
    .then((data) => {
      location.reload();
    })
    .catch(e => showAlert('alert-warning', 'Problem deleting the Idea.'));
  }
</script>