<div class="container">
  <h3 class="page_title">{{pageTitle}}</h3>
  <div class="row">
  {{#each stories}}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-content black-text">
          {{#auth @root.user._id this._creator}}
            <a class="btn-floating orange waves-effect waves-light edit-floating-btn" href="/stories/edit/{{this._id}}"><i class="medium material-icons">create</i></a>
          {{/auth}}
          <span class="card-title blue-grey-text truncate">{{this.storyTitle}}</span>
          <p class="truncate green-text">{{this.createdAt}}</p>
        </div>
        <div class="chip-container">
          <div class="chip stories-chip truncate blue-text">
            <img src="{{this.profileImg}}" alt="Contact Person">
            {{this.creator}}
          </div>
        </div>
        <div class="card-action center">
          <a class="btn waves-effect waves-light" href="/stories/read/{{this._id}}">Read</a>
        </div>
      </div>
    </div>
  {{else}}
    <div class="col s12 m6 l4">
      <h5>No Public Stories.</h5>
    </div>
  {{/each}}
  </div>
</div>