<div class="container">
  <div class="row">
    <div class="col s12 m8">
      <h4 class="article-title">
        {{storyTitle}}
        <a href="/stories/edit/{{_id}}">
          <i class="material-icons blue-text small edit-icon tooltipped" data-position="top"  data-tooltip="Edit">create</i>
        </a>
      </h4>
      <div class="card">
        <div class="card-content">
          <span class="card-title green-text">{{createdAt}}</span>
          <div class="show-detail">
            {{{content}}}
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title center truncate blue-text">John Duo Akash Kumar Seth</span>
          <div class="profile-img">
            <img src="/images/user.png">
          </div>
        </div>
        <div class="card-action center">
          <a class="truncate" href="#">More From Akash Kumar Seth</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Comments</span>
          <p>Please <a href="/users/login">login</a> to leave a comment.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Comments</span>
          <form action="addComment/{{_id}}" method="post" encType="application/x-www-form-urlencoded">
            <div class="input-field">
              <input id="comment" type="text" name="comment" class="validate" onchange="trimSpace(this.value, this.id)" required>
              <label for="comment">Add Comment</label>
            </div>
            <button type="submit" class="waves-effect waves-light btn">submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {{#each comments}}
      <div class="col s12 m8">
        <div class="card">
          <div class="card-content">
            <h5>{{this.body}}</h5>
            <div class="chip truncate blue-text">
              <img src="/images/default_user_img.png" alt="Contact Person">
              Akash Kumar Seth
            </div>
            <p>Posted : <span>{{this.date}}</span></p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let elem = document.querySelectorAll('.tooltipped');
    let instances = M.Tooltip.init(elem);
  });
</script>